<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Has recibido un mensaje de <%= @email %></h3>
    <p>
      Dice:
      <br>
      <%= @mensaje %>
      <br>
      <br>
      <cite><%= @nombre %></cite>
    </p>
  </body>
</html>