<body class="fondo1">
  <div class="col-md-1"></div>
  <div class="list-group col-md-6">
    <h2 class="titulo center">Notificaciones</h2>
    <% @notifications.each do |n| %>
    <li class="list-group-item">
      <div class="details">
        <span class="title"><%= link_to n.texto, n.url%></span>
        <span class="date" style="font-size: 0.75em"><%=n.created_at.strftime("%d/%m/%Y")%></span>
      </div>
        <%= link_to "x",n,method: :delete, class: 'button-default button-dismiss pull-right'%>
    </li>
    <%end%>
  </div>
</body>
