<body class="fondo1">
<h1>Analisis de pagos </h1>
<div class="formulario-margen">
<h2 class="titulo">Elija dos fechas</h2>

<!-- <%= form_for(@purchases) do |f| %>
<div class="formulario-reg">
  	<div class="form-group input-group">
  <label class="sr-only">Fecha inicial</label>
  <span class="input-group-addon">
    <i class="fa fa-pencil"></i> <%= f.label "Fecha inicial" %>
  </span>
  <%= f.text_field :fecha1, required: true,
    placeholder: 'Ingrese fecha incial', class: "form-control" %>
</div>
<div class="actions">
  <%= f.submit "Guardar", :class => 'btn btn-default actions'%>
</div>
<% end %>
</div>
</div>
</body>

-->
