<body class="fondo1">

	<br>
	<h3 class="titulo" align="center"> Mis solicitudes</h3>
	<br>
	<%if @requests.any?%>
	<table class="table table-striped table-bordered" style="width: 70% ; background-color: #ffa141" align="center">
		<tr>
			<th> Fecha</th>
			<th>
				Favor
			</th>
			<th> Descripcion </th>
			<th> Estado </th>
		</tr>

		<% @requests.each do |r| %>
			<tr>
				<td> <%= r.fecha %> </td>
				<td>
					<%= link_to r.favour.titulo,favour_path(r.favour)%>
				</td>
				<td> <%= r.descripcion %> </td>
				<td>
					<%if r.aceptacion%>
					Aceptado
					<%else%>
					No aceptado
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<%else%>
		<div align="center">Actualmente no posees solicitudes</div>
	<%end%>
</body>
