.formulario-reg {
   /* background-color: red; */
    min-width: 420px;
    max-width: 500px;
    width: 50%;
    margin: 0 auto;
}

.formulario-margen {
    min-width: 500px;
    text-align: center;
    align-content: center;
    width: 40%;
    margin: 0 auto;
    border-radius: 6px;
}

#relleno-sesion {
    background-color: rgba(255, 255, 255, 0.7);
}

.input-group-addon { /* Es el cudro a lado de input */
    min-width: 140px;
    max-width: 140px;
    text-align: center;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border:1px solid #ccc !important;
}

.checkbox {
    margin: 50px;
}

span.help-block { /* Da problemas al registrarse */
    display: none;
}
