<!DOCTYPE html>
<html>
<body class="fondo404">

	<!-- Este archivo sustituye al public/404.html -->
	<div class="error">
	<p class="mirada">Ups!</p>
		<h1 class="titulo-error-500">500</h1>
		<span class="info1">
			Lo sentimos, internar server error.
		</span>
		<br>
		<span class="info2">
			<%= link_to :back do %>
				<i class="fa fa-arrow-left blanco"></i> 
			<% end %>
			Vuelve a la pagina anterior.
		</span>
	</div>
</body>
</html>