<!DOCTYPE html>
<html>
<body class="fondo404">

	<!-- Este archivo sustituye al public/404.html -->
	<div class="error">
	<p class="mirada" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">Oups!</p>
		<h1 class="titulo-error">404</h1>
		<span class="info1">
			Lo sentimos, pero parece que esa página ya no existe.
		</span>
		<br>
		<span class="info2">
			<%= link_to :back do %>
				<i class="fa fa-arrow-left"></i> 
			<% end %>
			Vuelve a la pagina anterior.
		</span>
	</div>
</body>
</html>
