<!DOCTYPE html>
<html>
	<head>
		<title>Politicas de privacidad</title>
		<link rel="stylesheet" type="text/css" href="aplication.css">
	</head>
	<body>

	<h3 class="legal">Poltica de protección de datos personales</h3>

	<p class="normalFont legal">Esta sección tiene por objeto informar al Usuario acerca de la política que seguimos en lo que hace a su Información Personal (tal como se la define más adelante). Esta política puede ser modificada por múltiples razones, como ser el empleo de nuevas tecnologías de procesamiento de información, los cambios que pudiéramos introducir en nuestros Sitios o a nuestros sistemas de marketing, etc. Toda vez que modifiquemos esta política lo daremos a conocer, de manera que Ud. pueda estar siempre al tanto de la misma.</p>

	<h5 class="legal">Aplicación de la Política de Privacidad</h5>

	<p class="normalFont legal">Esta política se aplica a todos los sitios web de propiedad u operados por la empresa MasterBranch (desarrolladora de este sitio <%= @pagServicio %>). No se aplica -en cambio- a sitios a los que Ud. pudiera acceder por medio de links, o cualquier otro tipo de vínculo.</p>

	<h5 class="legal">Información Personal</h5>

	<p class="normalFont legal"><%= @pagServicio %> sólo utilizará la información referida a su identidad como usuario (entendiéndose por ello, sin carácter de taxativo, al nombre, apellido, dirección, teléfono, dirección de e-mail, entre otras, en adelante la “Información Personal”) para los fines propios del Servicio, o con fines de marketing propio, pero en ningún caso revelaremos esa información a terceros.</p>

	<h5 class="legal">Cookies</h5>

	<p class="normalFont legal">Mediante la tecnología Cookie o el rastreo IP, los Sitios de <%= @pagServicio %> pueden acceder a otra información acerca suyo (“Información No Específica”). A la fecha, la Información No Específica que recopilamos consiste en información sobre el navegador que utiliza, el tipo de computadora, sus sistemas operativos, sus proveedores del servicio de Internet, las secciones de nuestros sitios, que Ud. visita, los vínculos que Ud. establece y otra información similar. La Información No Específica es utilizada sólo por nosotros o los operadores de nuestros Sitios, a fin de conocer cuáles son las áreas preferidas de nuestros sitios, qué tecnología se está utilizando, etc. y mejorar constantemente nuestros sitios.</p>

	<p class="normalFont legal">Su navegador, al igual que otros, puede estar programado para aceptar Cookies. En tal caso, si Ud. no desea brindar Información No Específica, puede programar su navegador para rechazar Cookies, o para avisar cuando un sitio intenta enviarle Cookies.</p>

	<h5 class="legal">Jurisdicción competente y ley aplicable</h5>

	<p class="normalFont legal">Toda cuestión entre <%= @pagServicio %> y/o MasterBranch y el Usuario estará regida por las leyes de la República Argentina, con exclusión de toda norma que remita a la aplicación de una ley extranjera. Cualquier controversia será sometida a los Tribunales Ordinarios de la Ciudad de La Plata.</p>

	<p class="text-right text-muted">Ultima revision, 2 de Noviembre del 2016</p>
	</body>
</html>