<script type="text/javascript">
$('body').delegate('.c-faq', 'click', function(){
  $('.c-faq').removeClass('c-faq--active');
  $(this).addClass('c-faq--active');
});
</script>

<div class="container">
  <h1 class="titulo-FAQs">FAQs</h1>
	<h2 class="c-faqs-seccion">Registro de cuenta</h2>
  	<ul class="c-faqs">
   	 <li class="c-faq c-faq--active">
      <span class="c-faq-titulo">Puedo solicitar o realizar favores sin registrarme?</span>
      <div class="c-faq-respuesta">No. Solo los usuarios registrados al sitio tienen las funcionalidad de agregar, solicitar, comentar, entre otras.</div>
    </li>
    <li class="c-faq">
      <span class="c-faq-titulo">Cuatos puntos obtengo al registrarme?</span>
      <div class="c-faq-respuesta">Al registrarte obtendras un punto para que puedas pedir un favor inicial.</div>
    </li>
    <li class="c-faq">
      <span class="c-faq-titulo">Es gratuita?</span>
      <div class="c-faq-respuesta">Por su pollo Amigo!! La pagina es gratuita, por lo tanto podes usarla sin gastar un centavo, asique tranquilo, la plata que estas ahorrando lo dejas solo para el fernet. Pero para los chetos que tengan tarjeta de credito, pueden adquirir puntos extra.</div>
    </li>
    <li class="c-faq">
      <span class="c-faq-titulo">Que requisitos debo tener? </span>
      <div class="c-faq-respuesta">Al registrarte debes ser mayor a 18 años y en caso de que solicites que alguien te ayude con un favor debes resisdir en Argentina, sin excepción.</div>
    </li>
  </ul>  <!-- /end c-faqs -->
  <h2 class="c-faqs-seccion">Favores</h2>
  <ul class="c-faqs">
    <li class="c-faq">
      <span class="c-faq-titulo">Puedo pedir favores ilimitadamente?</span>
      <div class="c-faq-respuesta">No. Solo puedes pedir que te hagan un favor teniendo puntos de cange.
      <br>
      <br>	Pedir resta un punto.
      <br>	Realizar bien suma un puntos.
      <br>	Realizar mal resta dos.
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq-titulo">Que debo tener en cuenta a la hora de pedir un favor?</span>
      <div class="c-faq-respuesta">Debes tener en cuenta que es imperativo respetar las reglas del sitio por lo tanto sugerimos leer los terminos y condiciones junto con las politica de provacidad al pie del sitio.
      <br> Nosotros no nos hacemos cargo de los inconvenientes que pudiesen ocacionar terceros.
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq-titulo">Como se filtran los favores?</span>
      <div class="c-faq-respuesta">Para filtrar todos los favores del sitio NO selecciones nada en la opcion "Estado de mis favores", en cambio para filtrar tus favores en particular debes selecionar una de las opciones en el desplegable "Estado de mis favores", las posibles opciones son:
      <br> "Todos": Se filtra todos tus favores.
      <br> "Aceptados": Se filtra todos tus favores los cuales ya aceptaste a un usuario para que lo realize. 
      <br> "Finalizados": Todos tus favores que finalizaron.
      <br> "Realizados": Todos tus favores los cuales realizaste y estan finalizados.
      </div>
    </li>
  </ul>  <!-- /end c-faqs -->
  
    <h2 class="c-faqs-seccion">Compras</h2>
  <ul class="c-faqs">
    <li class="c-faq">
      <span class="c-faq-titulo">Es necesario tener tarjeta de credito?</span>
      <div class="c-faq-respuesta">No. Recien cuando quieras realizar una compra de puntos en el sitio se te solicitará los datos de tu tarjeta de credito.</div>
    </li>
    <li class="c-faq">
      <span class="c-faq-titulo">Cuanto cuesta un punto?</span>
      <div class="c-faq-respuesta">El costo de un punto es de 12 (doce) pesos Argentinos.</div>
    </li>
  </ul>  <!-- /end c-faqs -->
  
    <h2 class="c-faqs-seccion">Otras</h2>
  <ul class="c-faqs">
    <li class="c-faq">
      <span class="c-faq-titulo">Como hago para eliminar mis datos de este sitio?</span>
      <div class="c-faq-respuesta">Inicia seción e ingresa a la barra superior: Usuario > Editar Perfil. Encontraras un boton rojo, el cual eliminará los datos.
      Tener en cuenta que esta acción no puede ser repertida y si usted tiene puntos, los mismos se borraran del sistema. </div>
    </li>
  </ul>  <!-- /end c-faqs -->
  
<span class="c-nota">FAQs en desarrollo, sepan disculpar <a href="#">:)</a></span>
</div>
<br>
