// Place all the styles related to the favours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-size {
  max-width: 800px;
  max-height: 450px;
  display:block;margin:0 auto 0 auto;
}
.text-align{
  text-align: justify;
}
.max-size {
  max-width: 500px;
  max-height: 300px;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.boton-crear-favor {
  width: 100%;
}

.filtro {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filtro-padding-laterales {
  padding-left: 20px;
  padding-right: 20px;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
