<p>Buen día <%= @resource.email %>!</p>

<p>Alquien a requerido restablecer la contraseña de su cuenta en INCERTAR LINK. Si fue usted, lo puede hacer ingresando al link que esta a continuación .</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste restablecerla, porfavor ignora este correo.</p>
<p>Tu contraseña no se cambiará a menos que accedas a el link anteriormente mencionado.</p>

<p>Saludos, Equipo MasterBranch.</p>
